@page
@model Workspace.Pages.WelcomePages.OwnerModel
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}


@*<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<section id="Welcome_Page" class="Welcome_Page">
    <div class="container">

        <div class="section-title">
            <h2>Pick Your Poison</h2>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 d-flex align-items-stretch " data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                        <img src="~/img/Rooms.jpg" alt="room image" width="80%" height="auto" style="margin: -10px -10px;" />
                        <br />
                        <br />
                        <h4><a href="/MyTasks/Rooms">Rooms</a></h4>
                    <p>"Elevate your work experience with our stunning rooms. Find your match!"</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange ">
                        <img src="~/img/Subscription.jpg" alt="room image" width="80%" height="auto" style="margin: -10px -10px;" />
                        <br />
                        <br />
                        <h4><a href="/MyTasks/Subscription">Subscriptions</a></h4>
                        <p>"Boost productivity with our exclusive subscription service. Join now!"</p>
                </div>
            </div>


            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-yellow">
                        <img src="~/img/Products.jpg" alt="room image" width="80%" height="auto" style="margin: -10px -10px;" />
                        <br />
                        <br />
                        <h4><a href="/Products/Products">Products</a></h4>
                        <p>"Enhance your lifestyle with our premium products. Discover now!"</p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-red">
                        <img src="~/img/Events.jpg" alt="room image" width="80%" height="auto" style="margin: -10px -10px;" />
                        <br />
                        <br />
                        <h4><a href="/MyTasks/Events">Events</a></h4>
                     <p>"Experience excitement and inspiration with our events. Attend now!"</p>
                </div>
            </div>

    

        </div>

    </div>
</section>
</body>
</html>*@